body {
    margin: 0;
}

* {
    font-family: 'Verdana';
}

aside {
    width: 20%;
    height: 610px;
    float: left;
}

img {
    width: 100%;
    height: 610px;
}

header,
nav,
footer {
    background-color: MediumPurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 4px DimGray;
    float: right;
}

nav {
    padding-top: 10px;
}

nav button {
    cursor: pointer;
}

main {
    background-color: Thistle;
    width: 80%;
    height: 450px;
    overflow: auto;
    float: right;
}

main ul li button {
    float: right;
    background-color: MediumPurple;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
    padding: 5px;
}

ul {
    margin: 40px auto;
    width: 70%;
    font-size: 25px;
    border: 2px solid MediumPurple;
    list-style: none;
}

ul li {
    padding: 10px;
}

ul li:nth-of-type(even) {
    background-color: #ddcadd;
}

ul li:hover {
    background-color: lavender;
}

ul li.przekreslone {
    text-decoration: line-through;
    color: rgb(93, 134, 93);
}